*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 00px;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    gap: 24px;
}
.image-of-plant{
    height: 500px;
    width: 1099;
    
}

.who{
    
    background: linear-gradient(to right, rgb(38, 255, 0), rgb(229, 255, 0), rgb(0, 136, 255), green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline;
    font-family :"Space Grotesk", sans-serif;
    width: 100%;
    padding-left: 260px;
    font-weight: 700;

}
.heropic{
    height: 500px;
    width: 1099;
    border-radius: 7px;

}
.image-of-plant{
    display: flex;
    align-items: center;
    justify-content: center;

}
.about-us{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.welcome{
    font-family : Mukta, sans-serif;
    font-size: 20.6px;
    text-align: start;
    font-weight: 600;
    color: #9ebb8e;
    line-height: 1.5;
    padding-left: 100px;
    

}
.inspiration{
    font-family : Mukta, sans-serif;
    font-size: 18.6px;
    text-align: start;
    font-weight: 600;
    color: #8fcf69;
    line-height: 1.5;
    display: flex;
    justify-content: flex-end;
    padding-right: 142px;
  


}
.inspiration1{
    font-family : Mukta, sans-serif;
    font-size: 18.6px;
    text-align: start;
    font-weight: 600;
    color: #8fcf69;
    line-height: 1.5;
    justify-content: flex-end;
    display: flex;
    padding-right: 20px;
    
     
    

}
.inspiration2{
    font-family : Mukta, sans-serif;
    font-size: 18.6px;
    text-align: start;
    font-weight: 600;
    color: #8fcf69;
    line-height: 1.5;
    display: flex;
    justify-content: flex-end;
    padding-right: 78px;

   

}
.inspiration3{
    font-family : Mukta, sans-serif;
    font-size: 18.6px;
    text-align: start;
    font-weight: 600;
    color: #8fcf69;
    line-height: 1.5;
    justify-content: flex-end;
    display: flex;
    padding-right: 480px;
   


}
/* Small screens (mobile phones) */
@media only screen and (max-width: 414px) {
    /* Your responsive CSS rules here */
    .hero{
        padding-left: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

    }
    .image-of-plant{
        max-width: 668px;
        min-width: 150.40px; 
    }
    .heropic{
        max-width: 66px;
        min-width: 120.40px; 
        
    
    }
    .about-us{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/* Medium screens (tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Your responsive CSS rules here */
}

/* Large screens (desktops) */
@media only screen and (min-width: 1025px) {
    /* Your responsive CSS rules here */
}
